body {
    background-color: green;
}

h1 {
    color: salmon;
    background-color: aquamarine;
}

.judul {
    font-size: 30px;
    color: white;
    background-color: green;
}

p {
    color: black;
}

.paragraf {
    font-size: 20px;
    color: aqua;
}